.App {
  /*text-align: center;*/
}

.App-logo {
  width: 200px;
  height: 200px;
  pointer-events: none;
  position: absolute;
  top: 20%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    box-shadow: inset 0 0 20px 1px rgba(113, 111, 18, 0.6);
    border-radius: 50%;
    filter: drop-shadow( 1px 0 0 #940303);
    animation: App-logo-up 4.8s ease-in-out, App-logo-spin infinite 20s 5000ms linear, App-logo-drop infinite 20s 5000ms ease-in-out;
  }
}

.App-header {
  max-width: 1480px;
  width: 100vw;
  overflow: hidden;
  background: -moz-linear-gradient(90deg,  rgba(218, 234, 212, 1) 0%, rgba(178, 218, 235, 1) 50%, rgba(172, 179, 213, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(218, 234, 212, 1) 0%, rgba(178, 218, 235, 1) 50%, rgba(172, 179, 213, 1) 100%);
  background: linear-gradient(90deg, rgba(218, 234, 212, 1) 0%, rgba(178, 218, 235, 1) 50%, rgba(172, 179, 213, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#daead4",endColorstr="#acb3d5",GradientType=1);
  /*background: linear-gradient(90deg, rgba(112, 197, 246,0) 0%, rgba(11,9,121,0.4) 30%, rgba(255,0,0,0.4) 100%);*/
  padding: 15px;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 1px solid #979696;
  box-shadow: 0 1px 5px #434343;
}

.Logo {
  filter: drop-shadow(-1px 1px 1px rgba(2, 3, 67, 0.76));
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-up {
  from {
    margin-top: 300px;
  }
  to {
    margin-top: 0;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-drop {
  0% {
     box-shadow: inset 0 0 20px 1px rgba(113, 111, 18, 0.6);
  }
  10% {
    box-shadow: inset 0 0 20px 1px rgba(64, 255, 3, 0.4)
  }
  20% {
    box-shadow: inset 0 0 20px 1px rgba(255, 196, 3, 0.6)
  }
  30% {
    box-shadow: inset 0 0 20px 1px rgba(255, 3, 3, 0.42)
  }
  40% {
    box-shadow: inset 0 0 20px 1px rgba(9, 243, 162, 0.4);
    }
  70% {
    box-shadow: inset 0 0 20px 1px rgba(81, 23, 253, 0.4);
  }
  100% {
    box-shadow: inset 0 0 20px 1px rgba(113, 111, 18, 0.6);
  }
}
