@font-face {
  font-family: myFirstFont;
  src: url(./assets/fonts/Alice-Regular.ttf);
}

html {
  font-size: 100%;
}
body {
  margin: 0 auto;
  font-family: -apple-system, myFirstFont,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.75em;
  max-width: 1420px;
  width: 100%;
}

h1{

}
code {
  font-family: myFirstFont,
    monospace;
}
