@font-face {
  font-family: myFirstFont;
  src: url(./assets/fonts/Alice-Regular.ttf);
}
*{
  box-sizing: border-box;
  /*border: 1px solid red;*/
}
html {
  margin: 0;
}
body {
  margin: 0 auto;
  font-family: -apple-system, myFirstFont,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*font-size: 0.75em;*/
  max-width: 1420px;
  display: flex;
  justify-content: center;
}

code, h1 {
  font-family: myFirstFont, monospace;
}

svg text {
  font-family: myFirstFont, monospace;
  text-anchor: middle;
  stroke: transparent;
  /*filter: drop-shadow(-2px 0 1px #000000cc)*/
}

a.active {
  /*font-size: 100%;*/
  font-weight: bold;
  background: -moz-radial-gradient(circle, rgba(253, 164, 164, 0.44) 59%, rgba(253, 117, 117, 0.67) 100%);
  background: -webkit-radial-gradient(circle, rgba(253, 164, 164, 0.44) 59%, rgba(253, 117, 117, 0.67) 100%);
  background: radial-gradient(circle, rgba(253, 164, 164, 0.44) 59%, rgba(253, 117, 117, 0.67) 100%);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#daead4",endColorstr="#acb3d5",GradientType=1);*/
  /*box-shadow: -6px 6px 5px rgb(127 122 122 / 42%);*/
  color: #344597;
  letter-spacing: 2px;
}
