#Home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-logo {
    width: 100%;
    text-align: center;
    font-size: 3em;
}

@media (max-width: 600px){
    #title-logo {
        font-size: 2em;
    }
}
